<!-- 继承base.html -->
{%extends 'base.html'%}

<!-- 注册页面特有的引用 -->
{%block head%}
<script type="text/javascript" src="/static/js/register.js"></script>
{%endblock head%}

{%block body%}
	<div class="register_con">
		<div class="l_con fl">
			<a class="reg_logo"><img src="/static/images/logo02.png"></a>
			<div class="reg_slogan">足不出户  ·  新鲜每一天</div>
			<div class="reg_banner"></div>
		</div>

		<div class="r_con fr">
			<div class="reg_title clearfix">
				<h1>用户注册</h1>
				<!-- 1.0 修改超链接目标地址 -->
				<a href="/user/login/">登录</a>
			</div>
			<div class="reg_form clearfix">
				<!-- 2.0 完善表单处理功能,需要自己加上id="reg_form"去与js文件进行匹配 -->
				<form method="post" action="/user/register_handle/" id="reg_form">
					<!-- 2.1 post请求会又forbidden报错,缺csrf验证 -->
					{%csrf_token%}
				<ul>
					<li>
						<label>用户名:</label>
						<!-- 3.0 id主要是给js用的, name作为键给视图去接收做数据处理用.所以这个地方需要给每一个表单设置name属性 -->
						<input type="text" name="user_name" id="user_name" value="{{uname}}">
						<!-- <span class="error_tip">{{error_name | default:'提示信息'}}</span> -->
						<span class="error_tip">{{error_name}}</span>
					</li>
					<li>
						<label>密码:</label>
						<input type="password" name="user_pwd" id="pwd">
						<span class="error_tip">提示信息</span>
					</li>
					<li>
						<label>确认密码:</label>
						<!-- 3.1 因为用户密码确认js就可以做,所以这个地方就不需要传给数据库做 -->
						<input type="password" name="user_cpwd" id="cpwd">
						<span class="error_tip">提示信息</span>
					</li>
					<li>
						<label>邮箱:</label>
						<input type="text" name="user_mail" id="email">
						<span class="error_tip">提示信息</span>
					</li>
					<li class="agreement">
						<!-- 3.2 同意协议按钮 -->
						<input type="checkbox" id="allow" checked="checked">
						<label>同意”天天生鲜用户使用协议“</label>
						<span class="error_tip2">提示信息</span>
					</li>
					<li class="reg_sub">
						<input type="submit" value="注 册">
					</li>
				</ul>				
				</form>
			</div>

		</div>

	</div>
{%endblock body%}