{% extends 'DailyFresh_goods/base.html' %}

{% block detail %}
    <div class="main_wrap clearfix">
        <ul class="goods_type_list clearfix">
            {% for goods in page_obj %}
            <li>
                <a href="/{{goods.object.id}}/"><img src="/static/{{goods.object.gpic}}"></a>
                <h4><a href="/{{goods.object.id}}/">{{goods.object.gtitle}}</a></h4>
                <div class="operate">
                    <span class="prize">￥{{goods.object.gprice}}</span>
                    <span class="unit">{{goods.object.gprice}}/{{goods.object.gunit}}</span>
                    <a href="#" class="add_goods" title="加入购物车"></a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock detail %}

{% block left %} {% endblock left %}